node_modules/
out/
dist/
include/
.vscode/mise-tools/

*.tsbuildinfo

# Misc
.DS_Store

sourcemap.json
*.rbxl.lock
*.rbxl
*.rbxlx

.env
.eslintcache
/.claude/state

rojo-sync/
game-output.log
jest-output.log
